<h1>Contact me!</h1>
</br>

<div class="card" style="width: 18rem;">
  <img src="github.png" class="card-img-top" alt="GitHub">
  <div class="card-body">
    <h5 class="card-title">GitHub</h5>
    <p class="card-text">Check out my other projects on GitHub.</p>
    <a href="https://github.com/rukshan99" class="btn btn-secondary">Visit</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="linkedin.jpg" class="card-img-top" alt="Linkedin">
  <div class="card-body">
    <h5 class="card-title">Linkedin</h5>
    <p class="card-text">Connect with me on Linkedin.</p>
    <a href="https://linkedin.com/in/rukshanjayasekara" class="btn btn-secondary">Visit</a>
  </div>
</div>