<div class="jumbotron">
  
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is a simple application to search for stock details using stock symbols (tickers). Just go to the search bar and enter the symbol.</p>

	<!-- gallery -->

	<div class="container">
	<br/>
  	<div class="row text-center text-lg-left">

    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="apple.png" alt="apple">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="amazon.jpg" alt="amazon">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="adidas.png" alt="adidas">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="starbucks.jpg" alt="starbucks">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="pepsi.jpg" alt="pepsi">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="fcb.png" alt="fcb">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="mc.jpg" alt="mcdonald’s">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="mercedes.jpg" alt="mercedes">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="fedex.jpg" alt="fedex">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="nvidia.png" alt="nvidia">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="mustang.jpg" alt="mustang">
          	</a>
    	</div>
    	<div class="col-lg-3 col-md-4 col-6">
      	<a href="#" class="d-block mb-4 h-100">
            	<img class="img-fluid img-thumbnail" src="google.jpg" alt="google">
          	</a>
    	</div>
  	</div>
	</div>

	<!-- /.gallery -->
    
</div>


