<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is a simple application to search for stock details using stock symbols(tickers). Just go to the above search bar and enter the symbol.</p>
    <img src="logos.jpg" class="rounded float-right" alt="goog">
    <hr class="my-4">
  </div>
</div>


